<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/map/map_44/info_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_dg.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_hy.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_jm.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_jy.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_mm.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_mz.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_qy.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_sg.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_st.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_sw.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_yf.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_zq.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_44/info_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>map_font_44.png</string>
			<key>realTextureFileName</key>
			<string>map_font_44.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>