<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/map/map_0/info_anhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,64},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_chongqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,126},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_fujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,188},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_ganshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_guangdong.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,64},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_guangxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,126},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_guizhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,188},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_hainan.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_hebei.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,64},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_heilongjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,126},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_henan.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,188},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_hubei.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_hunan.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,64},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_jiangsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,126},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_jiangxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,188},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_jilin.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_liaoning.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,64},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_neimenggu.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,126},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_ningxia.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,188},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_sanxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_shandong.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_shanghai.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_shanxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,58},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_sichuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,120},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_tianjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,182},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_yunnan.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,58},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_xianggang.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,58},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_xinj.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,114},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_xiz.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,176},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_taiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,114},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_qingh.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,114},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_aomen.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,170},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_0/info_zhejiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,176},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>map_font_0.png</string>
			<key>realTextureFileName</key>
			<string>map_font_0.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>