<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/arena/arena_mrt.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,2},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>hall/arena/icon__paihang_xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,240},{20,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,12}</string>
			</dict>
			<key>hall/arena/bg_btn_paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,113},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,13}</string>
			</dict>
			<key>hall/arena/img_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,57},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>hall/arena/img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,96},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>hall/arena/img_fram.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,148},{66,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,45}</string>
			</dict>
			<key>hall/arena/img_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,57},{110,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,52}</string>
			</dict>
			<key>hall/arena/img_ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,2},{118,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,51}</string>
			</dict>
			<key>hall/arena/img_mingrenaward.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,105},{24,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,20}</string>
			</dict>
			<key>hall/arena/img_mingrenaward_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,215},{43,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,34}</string>
			</dict>
			<key>hall/arena/img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,215},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>hall/arena/arena_zlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,197},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,39}</string>
			</dict>
			<key>hall/arena/arena_mrlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,215},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,39}</string>
			</dict>
			<key>hall/arena/img_day.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,215},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>hall/arena/img_week.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,215},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>hall/arena/img_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,69},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>hall/arena/img_day_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,215},{39,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,32}</string>
			</dict>
			<key>hall/arena/img_week_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,215},{39,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,32}</string>
			</dict>
			<key>hall/arena/top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,113},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>hall/arena/top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,160},{87,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,43}</string>
			</dict>
			<key>hall/arena/top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,207},{86,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,43}</string>
			</dict>
			<key>hall/arena/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,52},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>hall/arena/img_week_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{337,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,63}</string>
			</dict>
			<key>hall/arena/img_day_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,148},{337,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,63}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>arena.png</string>
			<key>realTextureFileName</key>
			<string>arena.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>