<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/active/bonuspool/txt_bonus_pool.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,274},{126,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,42}</string>
			</dict>
			<key>hall/active/bonuspool/RMB.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,80},{12,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,16}</string>
			</dict>
			<key>hall/active/bonuspool/phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,110},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/active/bonuspool/lb_price_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,58},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/active/bonuspool/lb_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,169},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>hall/active/bonuspool/lb_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/active/bonuspool/lb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,110},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/active/bonuspool/lb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,192},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/active/bonuspool/lb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,110},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/active/bonuspool/lb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,192},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hall/active/bonuspool/dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,334},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>hall/active/bonuspool/buy_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,230},{96,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,36}</string>
			</dict>
			<key>hall/active/bonuspool/btn_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,2},{288,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,74}</string>
			</dict>
			<key>hall/active/bonuspool/bonus_pool_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,476},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/active/bonuspool/active_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,110},{116,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,36}</string>
			</dict>
			<key>hall/active/bonuspool/rule/underLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,58},{58,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,2}</string>
			</dict>
			<key>hall/active/bonuspool/fight/bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,294},{178,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,168}</string>
			</dict>
			<key>hall/active/bonuspool/fight/class_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,110},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>
			<key>hall/active/bonuspool/fight/copper_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,294},{41,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,36}</string>
			</dict>
			<key>hall/active/bonuspool/fight/gold_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,292},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>
			<key>hall/active/bonuspool/fight/silver_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,294},{41,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,36}</string>
			</dict>
			<key>hall/active/bonuspool/fight/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{396,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,104}</string>
			</dict>
			<key>hall/active/bonuspool/fight/clickRankBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,32},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,28}</string>
			</dict>
			<key>hall/active/bonuspool/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,230},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>hall/active/bonuspool/fight/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,2},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bonuspool.png</string>
			<key>realTextureFileName</key>
			<string>bonuspool.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>