<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/common/bg_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,323},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>hall/common/bk_head_ico.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,363},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hall/common/bk_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,299},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/common/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,215},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,237},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_gps.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,104},{136,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,108}</string>
			</dict>
			<key>hall/common/btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,279},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,301},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/btn_sctp_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,426},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>hall/common/btn_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,327},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/common/cb_single_act.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,256},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/common/cb_single_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,261},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/common/info_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,291},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>hall/common/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,152},{6,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,2}</string>
			</dict>
			<key>hall/common/loading_halo.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,226},{86,88}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hall/common/loading_peach.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,218},{39,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>hall/common/pixels_alpha.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,160},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>hall/common/pixels_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,160},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>hall/common/pixels_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,158},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>hall/common/loading_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,316},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hall/common/loading_circle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,336},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hall/common/room_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,104},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>hall/common/pic_Loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,221},{98,95}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>hall/common/head_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,406},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hall/common/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,215},{32,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,72}</string>
			</dict>
			<key>hall/common/new_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,221},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>hall/common/new_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,152},{4,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,1}</string>
			</dict>
			<key>hall/common/new_pop_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,109},{20,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,80}</string>
			</dict>
			<key>hall/common/new_pop_gray_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,134},{14,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,9}</string>
			</dict>
			<key>hall/common/new_pop_left_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,109},{105,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,24}</string>
			</dict>
			<key>hall/common/new_pop_right_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,216},{15,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,20}</string>
			</dict>
			<key>hall/common/new_pop_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{274,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,98}</string>
			</dict>
			<key>hall/common/new_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,147},{64,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,40}</string>
			</dict>
			<key>hall/common/new_unread_pt.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,193},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>hall/common/new_virtual_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,2},{272,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,2}</string>
			</dict>
			<key>hall/common/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,2},{165,103}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>hall/common/dou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,407},{76,60}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,108}</string>
			</dict>
			<key>hall/common/dou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,406},{67,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,77}</string>
			</dict>
			<key>hall/common/dou_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,109},{111,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,108}</string>
			</dict>
			<key>hall/common/dou_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,320},{82,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,87}</string>
			</dict>
			<key>hall/common/new_pop_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,278},{24,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,83}</string>
			</dict>
			<key>hall/common/new_btn_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,104},{12,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>hall/common/new_btn_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,119},{12,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>hall/common/new_btn_noangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,327},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/common/new_pop_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,226},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>hall/common/new_pop_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,249},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>hall/common/img_gxhd_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,216},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>hall/common/img_gxhd_lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,2},{141,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>