<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/honor/grade_img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,410},{175,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,163}</string>
			</dict>
			<key>hall/honor/grade_img_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,410},{195,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,174}</string>
			</dict>
			<key>hall/honor/grade_img_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,234},{218,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,192}</string>
			</dict>
			<key>hall/honor/grade_img_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,209},{237,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,197}</string>
			</dict>
			<key>hall/honor/grade_img_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,2},{238,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,203}</string>
			</dict>
			<key>hall/honor/grade_img_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hall/newhonor/grade_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,577},{175,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,163}</string>
			</dict>
			<key>hall/newhonor/grade_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,410},{195,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,174}</string>
			</dict>
			<key>hall/newhonor/grade_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,234},{218,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,192}</string>
			</dict>
			<key>hall/newhonor/grade_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,209},{237,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,197}</string>
			</dict>
			<key>hall/newhonor/grade_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,2},{238,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,203}</string>
			</dict>
			<key>hall/newhonor/grade_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cup.png</string>
			<key>realTextureFileName</key>
			<string>cup.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>