<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/newgamelist/btn_mj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,2},{82,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,99}</string>
			</dict>
			<key>hall/newgamelist/btn_mj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,97},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>
			<key>hall/newgamelist/btn_pk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,289},{85,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,98}</string>
			</dict>
			<key>hall/newgamelist/btn_pk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,186},{85,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,99}</string>
			</dict>
			<key>hall/newgamelist/btn_xx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,88},{82,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,96}</string>
			</dict>
			<key>hall/newgamelist/btn_xx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,183},{82,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,97}</string>
			</dict>
			<key>hall/newgamelist/img_award.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,391},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hall/newgamelist/img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,2},{180,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,142}</string>
			</dict>
			<key>hall/newgamelist/img_rshu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,484},{25,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,44}</string>
			</dict>
			<key>hall/newgamelist/img_rshu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,484},{26,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,45}</string>
			</dict>
			<key>hall/newgamelist/cbtnlose.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,437},{116,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,43}</string>
			</dict>
			<key>hall/newgamelist/loading_circle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,391},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>hall/newgamelist/loading_circle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,2},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>hall/newgamelist/img_circle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,475},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/newgamelist/img_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{245,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,193}</string>
			</dict>
			<key>hall/newgamelist/img_item_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,500},{19,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,2}</string>
			</dict>
			<key>hall/newgamelist/img_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,186},{247,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,85}</string>
			</dict>
			<key>hall/newgamelist/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,500},{128,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,9}</string>
			</dict>
			<key>hall/newgamelist/fish_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,484},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>hall/newgamelist/img_fish.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,251},{245,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,193}</string>
			</dict>
			<key>hall/newgamelist/fish_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,435},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>hall/newgamelist/img_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,391},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gmaelist.png</string>
			<key>realTextureFileName</key>
			<string>gmaelist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>