<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/lotto/dial_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,281},{184,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,184}</string>
			</dict>
			<key>hall/lotto/dial_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,280},{184,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,184}</string>
			</dict>
			<key>hall/lotto/dial_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,92},{184,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,184}</string>
			</dict>
			<key>hall/lotto/dial_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,2},{217,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,179}</string>
			</dict>
			<key>hall/lotto/dial_pic_dwcj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,185},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>hall/lotto/dial_pic_dwcj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,185},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>hall/lotto/dial_pic_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,85},{47,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,73}</string>
			</dict>
			<key>hall/lotto/com_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,2},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>hall/lotto/img_gxhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,2},{275,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,74}</string>
			</dict>
			<key>hall/lotto/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,92},{176,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,186}</string>
			</dict>
			<key>hall/lotto/cj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,136},{30,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,106}</string>
			</dict>
			<key>hall/lotto/title_xydzp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{633,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,86}</string>
			</dict>
			<key>hall/lotto/img_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,136},{73,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,32}</string>
			</dict>
			<key>hall/lotto/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,469},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hall/lotto/bg_shul.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,254},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>hall/lotto/cb_com.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,246},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>hall/lotto/cb_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,469},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>hall/lotto/str_xxhg.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,185},{109,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,102}</string>
			</dict>
			<key>hall/lotto/str_zlyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,272},{105,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,102}</string>
			</dict>
			<key>hall/lotto/yb_dial_pic_frame_lamp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,136},{12,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>hall/lotto/img_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,213},{44,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lotto.png</string>
			<key>realTextureFileName</key>
			<string>lotto.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>