<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/newhall/bg_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,455},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>hall/newhall/bg_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,228},{62,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,61}</string>
			</dict>
			<key>hall/newhall/btn_bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,293},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hall/newhall/btn_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,116},{111,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,34}</string>
			</dict>
			<key>hall/newhall/btn_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,228},{95,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,35}</string>
			</dict>
			<key>hall/newhall/btn_hyf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{333,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,110}</string>
			</dict>
			<key>hall/newhall/btn_jbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,343},{62,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,56}</string>
			</dict>
			<key>hall/newhall/btn_wjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,473},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>hall/newhall/btn_wjxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,370},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>hall/newhall/shop_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,116},{179,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,82}</string>
			</dict>
			<key>hall/newhall/gengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,306},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hall/newhall/btn_xtjyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,116},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>hall/newhall/hyf_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,202},{19,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,55}</string>
			</dict>
			<key>hall/newhall/btn_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,2},{188,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,142}</string>
			</dict>
			<key>hall/newhall/gamelist_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,194},{68,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,2}</string>
			</dict>
			<key>hall/newhall/img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,473},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,27}</string>
			</dict>
			<key>hall/newhall/img_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,443},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>hall/newhall/ani_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,292},{107,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,47}</string>
			</dict>
			<key>hall/newhall/txt_ljlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,2},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
			<key>hall/newhall/txt_zgyk.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,102},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
			<key>hall/newhall/guizu.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,194},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>hall/newhall/mrfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,202},{117,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,86}</string>
			</dict>
			<key>hall/newhall/txt_fxyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,343},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
			<key>hall/newhall/img_qiehuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,490},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>hall/newhall/img_mfk.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,202},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>
			<key>hall/newhall/ani_mfd.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,266},{96,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,39}</string>
			</dict>
			<key>hall/newhall/ani_mfd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,403},{48,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,52}</string>
			</dict>
			<key>hall/newhall/img_mfd.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,231},{86,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,27}</string>
			</dict>
			<key>hall/newhall/img_mfd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,455},{36,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>newhall.png</string>
			<key>realTextureFileName</key>
			<string>newhall.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>