<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/store/Bottomframe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,472},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>hall/store/Bottomframe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,248},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>hall/store/icon_daoju_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,354},{57,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,55}</string>
			</dict>
			<key>hall/store/icon_ledou.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,472},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/store/icon_weiledou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,386},{51,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,47}</string>
			</dict>
			<key>hall/store/icon_zuanshi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,386},{55,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,45}</string>
			</dict>
			<key>hall/store/ico_bean_lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,248},{132,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,94}</string>
			</dict>
			<key>hall/store/ico_bean_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,138},{136,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,106}</string>
			</dict>
			<key>hall/store/ico_bean_lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,2},{133,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,103}</string>
			</dict>
			<key>hall/store/ico_bean_lv4.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,2},{132,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,121}</string>
			</dict>
			<key>hall/store/ico_bean_lv5.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,254},{128,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,113}</string>
			</dict>
			<key>hall/store/ico_zuanshi_lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,277},{144,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,130}</string>
			</dict>
			<key>hall/store/ico_zuanshi_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,277},{159,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,134}</string>
			</dict>
			<key>hall/store/ico_zuanshi_lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2},{174,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,100}</string>
			</dict>
			<key>hall/store/Pop-ups_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,354},{78,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,56}</string>
			</dict>
			<key>hall/store/p_ico_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,180},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/p_ico_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,437},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/p_ico_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,431},{106,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,70}</string>
			</dict>
			<key>hall/store/smallicon_jindou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,386},{40,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,48}</string>
			</dict>
			<key>hall/store/smallicon_zuanshi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,384},{43,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,41}</string>
			</dict>
			<key>hall/store/V.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,472},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>
			<key>hall/store/VIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,472},{41,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,25}</string>
			</dict>
			<key>hall/store/vip_tiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,440},{348,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,28}</string>
			</dict>
			<key>hall/store/vip_tiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,472},{45,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,32}</string>
			</dict>
			<key>hall/store/Bottomframe_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{271,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>store.png</string>
			<key>realTextureFileName</key>
			<string>store.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>