<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/honor/arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,469},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>hall/honor/btn_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,298},{63,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,43}</string>
			</dict>
			<key>hall/honor/btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,247},{58,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,47}</string>
			</dict>
			<key>hall/honor/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,259},{50,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>hall/honor/starbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,259},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,48}</string>
			</dict>
			<key>hall/honor/btn_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,495},{10,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,14}</string>
			</dict>
			<key>hall/honor/img_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,395},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>hall/honor/btn_brown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,469},{22,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,34}</string>
			</dict>
			<key>hall/honor/bg_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,395},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>hall/honor/btn_zang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,395},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>hall/honor/btn_zang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,451},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>hall/honor/rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,395},{57,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,43}</string>
			</dict>
			<key>hall/honor/rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,335},{61,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,42}</string>
			</dict>
			<key>hall/honor/rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,395},{60,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,42}</string>
			</dict>
			<key>hall/honor/img_mj.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,469},{26,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>hall/honor/item_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{220,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,189}</string>
			</dict>
			<key>hall/honor/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,2},{47,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,51}</string>
			</dict>
			<key>hall/honor/gift_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,419},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>hall/honor/pm_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,400},{44,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,31}</string>
			</dict>
			<key>hall/honor/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,195},{67,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,48}</string>
			</dict>
			<key>hall/honor/gift_grade_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,395},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>hall/honor/txt_hytz.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,2},{253,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,52}</string>
			</dict>
			<key>hall/honor/img_wsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,195},{136,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,46}</string>
			</dict>
			<key>hall/honor/shengxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,445},{358,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,46}</string>
			</dict>
			<key>hall/honor/shengduan.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,345},{358,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,46}</string>
			</dict>
			<key>hall/honor/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,2},{320,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,86}</string>
			</dict>
			<key>hall/honor/base.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,195},{246,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>honor.png</string>
			<key>realTextureFileName</key>
			<string>honor.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>