<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/room/jxroom/join_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,333},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hall/room/jxroom/join_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,369},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>hall/room/jxroom/join_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,227},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>hall/room/jxroom/join_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,445},{80,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,36}</string>
			</dict>
			<key>hall/room/jxroom/join_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,2},{68,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,2}</string>
			</dict>
			<key>hall/room/jxroom/join_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,111},{172,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,80}</string>
			</dict>
			<key>hall/room/jxroom/create_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,74},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>hall/room/jxroom/create_btn_cjfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,111},{178,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,59}</string>
			</dict>
			<key>hall/room/jxroom/create_btn_gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,195},{178,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,59}</string>
			</dict>
			<key>hall/room/jxroom/create_cb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,369},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/room/jxroom/create_cb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,257},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>hall/room/jxroom/create_cb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,293},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>hall/room/jxroom/create_cb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,331},{29,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,30}</string>
			</dict>
			<key>hall/room/jxroom/create_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,2},{10,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,1}</string>
			</dict>
			<key>hall/room/jxroom/create_tab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,2},{222,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,90}</string>
			</dict>
			<key>hall/room/jxroom/create_tab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,96},{222,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,90}</string>
			</dict>
			<key>hall/room/jxroom/create_btn_bc.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,195},{178,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,59}</string>
			</dict>
			<key>hall/room/jxroom/record_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,190},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>
			<key>hall/room/jxroom/record_fz.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,111},{44,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,23}</string>
			</dict>
			<key>hall/room/jxroom/record_gamebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,195},{99,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,36}</string>
			</dict>
			<key>hall/room/jxroom/record_hf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,445},{78,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,38}</string>
			</dict>
			<key>hall/room/jxroom/record_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,293},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hall/room/jxroom/search_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{263,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,105}</string>
			</dict>
			<key>hall/room/jxroom/search_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,377},{144,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,64}</string>
			</dict>
			<key>hall/room/jxroom/record_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,425},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hall/room/jxroom/search_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,298},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>hall/room/jxroom/search_camera.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,159},{33,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,20}</string>
			</dict>
			<key>hall/room/jxroom/create_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,333},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>hall/room/jxroom/img_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,369},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jx_room.png</string>
			<key>realTextureFileName</key>
			<string>jx_room.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>