<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/map/map_34/info_aq.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_chiz.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_fy.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_hb.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_hf.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_hn.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_hs.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_la.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_mas.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,5},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_tl.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,67},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,129},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>hall/map/map_34/info_xc.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,191},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>map_font_34.png</string>
			<key>realTextureFileName</key>
			<string>map_font_34.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>